@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    border-radius: 50px 50px 50px 50px / 25px 25px 25px 25px;
    border-radius: 4px;
    border-color: black;
    margin: 5%;
}

button {
    float: right;
    background-color: black;
    color: white;
}